.HeaderBanorte{
    background-color: #eb0029;
    background-image: url(../../../assets/navigation.png);
    background-repeat: repeat-x;
    background-size: 50px;
}

.logo{
    height: 50px;
    width: 300px;
    background-image: url(../../../assets/spriteBanorteButtons.png);
    background-size: 1000px 1200px;
    background-position: -411.5px -718px;
}

.spacer{
    flex: 1 1 auto;
}