.example-form-field {
  width: 100%;
}

.buttonFilter {
  display: flex;
  height: 50px;
  align-items: center;
  margin-top: 8px;
}

.search {
  color: white;
  background-color: #eb0029;
  width: 150px;
  height: 40px;
}

.inputFilter {
  padding: 0;
  border: 1px sold red;
}
